# LaTeX auxiliary files
*.aux
*.log
*.toc
*.out
*.synctex*
*.fdb_latexmk
*.fls
*.bbl
*.blg
*.lof
*.lot
*.nav
*.snm
*.vrb
# Editor / OS cruft
*.DS_Store
*~
*.aux
*.log
*.toc
*.out
*.synctex*
*.fdb_latexmk
*.fls
*.DS_Store
*~
